[defaults]
# Keep it simple for manual inventory
deprecation_warnings = False
collections_path = ./collections:/usr/share/ansible/collections

[inventory]
# Only enable standard parsers
enable_plugins = host_list, script, auto, yaml, ini
