[defaults]
# This forces Ansible to look inside the folder you created in GitHub
collections_path = /runner/project/collections:/usr/share/ansible/collections

[inventory]
# This explicitly enables the Microsoft AD plugin
enable_plugins = microsoft.ad.plugins.inventory.ldap, auto, yaml, ini
